---
export interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;

const canonicalURL = new URL("/api/og", Astro.site);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/icon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    {description ? <meta name="description" content={description} /> : null}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content={"seoderio"} />
    <meta name="twitter:creator" content={"seoderio"} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:image" content={`${canonicalURL}?title=${title}`} />
    <meta property="og:image:width" content="940" />
    <meta property="og:image:height" content="700" />
    <meta property="og:site_name" content={"Seoder"} />
    <meta
      property="keywords"
      content="Seo Tool, Target Email Campaign Tool, Marketing Campaigns, Marketing, Target Links, Links"
    />
  </head>
  <body>
    <slot />
    <script src="https://metrics.seoder.io/script.js" data-site="JAYJESFT" defer
    ></script>
    <style is:global>
      :root {
        --max-width: 142.884ch;
        --accent: #463a9c;
        --accent-gradient: linear-gradient(
          92.87deg,
          var(--accent) -3.43%,
          #be63c7 87.13%
        );
      }
      body {
        margin: 0;
        padding: 0;
      }
      html {
        font-family: system-ui, sans-serif;
        font-size: 16px;
        background-color: #f5f5f5;
      }
      main {
        margin: auto;
        position: relative;
        max-width: var(--max-width);
      }
      h2 {
        margin: 0;
        padding: 0.5rem 0;
      }
      .highlight {
        color: #e8c01a;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.8rem;
        margin: 0;
      }
      .prog {
        padding: 1.5rem;
        padding-top: 4rem;
      }
    </style>
  </body>
</html>
