---
import FooterBg from "./Svgs/FooterBg.astro";
import Github from "./Svgs/Github.astro";
import Twitter from "./Svgs/Twitter.astro";

const currentYear = new Date().getFullYear();
const canonicalURL = new URL(Astro.site);
---

<footer>
  <div class="footer-container">
    <div class="container">
      <div class="sub">
        <h5>Product</h5>
        <ul>
          <li>
            <a href="https://seoder.com/payments">Pricing</a>
          </li>
        </ul>
      </div>
      <div class="sub">
        <h5>Updates</h5>
        <ul>
          <li>
            <a href={`${canonicalURL}faq`}>FAQ</a>
          </li>
          <li>
            <a href={`${canonicalURL}about`}>About</a>
          </li>
          <li>
            <a href="mailto:support@seoder.com">Support</a>
          </li>
          <li>
            <a
              href="https://seoder1.statuspage.io/"
              rel="noopener"
              target="_blank">Server Status</a
            >
          </li>
        </ul>
      </div>
      <div class="sub">
        <h5>Compared to</h5>
        <ul>
          <li>
            <a href={`${canonicalURL}compare/seoder-vs-zendesk-sell`}
              >Seoder VS. Zendesk Sell</a
            >
          </li>
        </ul>
      </div>
      <div class="sub">
        <h5>Legal</h5>
        <ul>
          <li>
            <a href={`${canonicalURL}privacy-policy`}>Privacy Policy</a>
          </li>
          <li>
            <a href={`${canonicalURL}terms-of-service`}>Terms of Service</a>
          </li>
          <li>
            <a
              href="https://usefathom.com/ref/IRZNZG"
              rel="noopener"
              target="_blank">Analytics</a
            >
          </li>
        </ul>
      </div>
      <div class="sub">
        <h5>Social</h5>
        <ul class="flex">
          <li>
            <a
              href="https://twitter.com/seoderio"
              rel="noopener"
              target="_blank"
              ><Twitter />
            </a>
          </li>
          <li>
            <a
              href="https://github.com/SeoderApp"
              rel="noopener"
              target="_blank"
              ><Github />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <p class={"cc"}>
      Seoder &copy; {currentYear}
    </p>
  </div>
  <div class="footer-bg">
    <FooterBg />
  </div>
</footer>

<style>
  footer {
    position: relative;
    overflow: hidden;
    padding-top: 2rem;
  }

  footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
    flex-direction: column;
    display: flex;
    gap: 1rem;
  }

  .flex {
    flex-direction: row;
  }
  h5 {
    margin: 0;
    padding-top: 0;
    padding-bottom: 1rem;
    font-size: 1rem;
  }

  .sub {
    flex: 1;
    padding-top: 1rem;
  }

  footer li {
    /* display: inline; */
  }

  footer a {
    color: var(--accent);
    font-size: 1rem;
    text-decoration: none;
    font-weight: 600;
  }

  .footer-container {
    padding: 2.4rem 2rem;
    margin: auto;
    z-index: 2;
    max-width: var(--max-width);
  }

  .footer-bg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    pointer-events: none;
    z-index: -1;
    height: 50vh;
  }

  .container {
    gap: 1.5rem;
    display: flex;
    flex-direction: row;
    padding: 0;
    flex-wrap: nowrap;
  }

  .cc {
    font-size: 0.76rem;
    opacity: 0.7;
  }

  @media only screen and (max-width: 800px) {
    .container {
      flex-direction: column;
    }
    footer {
      background: rgba(232, 192, 26, 0.17);
    }
    footer ul {
      flex-direction: column;
    }
    .footer-bg {
      display: none;
    }
  }
</style>
